.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;

  .logo-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 20vw;
    width: 20vw;

    .robot-face {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2.8vw;
      line-height: 2.8vw;
      height: 0vw;
      width: 0vw;
      background-color: rgba(0, 0, 0, 0.5);
      text-align: left;

      .eyes {
        height: 2vw;
        width: 0vw;
        position: relative;
        top: 10%;
        left: 10%;
        border-top: 0.1vw solid white;
        border-bottom: 0.1vw solid white;
        transform: rotate(45deg);
      }
    }

    .deco-shape {
      opacity: 0.4;
      background-color: black;
      position: absolute;
      top: 0;
      left: 0;
      height: 0vw;
      width: 0vw;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      text-align: start;
      color: white;
      font-size: 2vw;
      line-height: 2vw;
      text-wrap: nowrap;

      .arrow {
        position: absolute;
        right: 0;
        width: 6vw;
        height: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .top-part {
          width: 3vw;
          height: 0.2vh;
          background-color: white;
        }

        .bottom-part {
          position: relative;
          top: 68%;
          width: 8.5vw;
          height: 0.1vh;
          background-color: white;
          transform: rotate(45deg) translateX(-20%);
        }
      }
    }
  }

  .invitation {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 15vh;
    width: 0vw;
    font-size: 2.4vw;
    line-height: 2.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .corner {
      position: absolute;
      height: 5vh;
      width: 5vh;
    }

    .corner-top-left {
      top: 0;
      left: 0;
      border-top: 0.2vh solid rgba(0, 0, 0, 0.8);
      border-left: 0.2vh solid rgba(0, 0, 0, 0.8);
    }

    .corner-top-right {
      top: 0;
      right: 0;
      border-top: 0.2vh solid rgba(0, 0, 0, 0.8);
      border-right: 0.2vh solid rgba(0, 0, 0, 0.8);
    }

    .corner-bottom-left {
      bottom: 0;
      left: 0;
      border-bottom: 0.2vh solid rgba(0, 0, 0, 0.8);
      border-left: 0.2vh solid rgba(0, 0, 0, 0.8);
    }

    .corner-bottom-right {
      bottom: 0;
      right: 0;
      border-bottom: 0.2vh solid rgba(0, 0, 0, 0.8);
      border-right: 0.2vh solid rgba(0, 0, 0, 0.8);
    }

    &-input {
      border: none;
      border-left: 0.2vw solid rgba(0, 0, 0, 0.8);
      height: 5vh;
      width: calc(24.8vw - 5vh);
      background-color: rgba(0, 0, 0, 0.4);
      font-family: sans-serif, system-ui, Avenir, Helvetica, Arial;
      font-weight: lighter;
      outline: none;
      font-size: 1.5vw;
      line-height: 1.5vw;
      padding: 0 1vw;
      color: white;
    }

    &-input::placeholder {
      color: rgba(255, 255, 255, 0.8);
    }

    &-button {
      height: 5vh;
      width: 5vh;
      background-color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      border: none;
      outline: none;
      font-size: 2vw;
      line-height: 2vw;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 4vh;
        width: 4vh;
        opacity: 0.5;
      }
    }
  }
}
